/* Estilos generales */
* {
    padding: 0;
    margin:0;
}

:root {
    --color-header-background: red;
    --color-border: white; /* Color del marco */

    --color-footer: red; /* Color de fondo del footer */
    --color-footer-text:  #0c4d92; /* Color del texto del footer */
    --fuente-Inter: 'Inter', sans-serif; /* Fuente */
}

body {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    min-height: 100vh; /* Para que el footer esté siempre al final */
    box-sizing: border-box;
    min-height: 100vh;
}

.header {
    display: flex; 
    background-color: var(--color-header-background);
    position: relative;
    height: 96px; /* Altura igual a la de la imagen */
    overflow: hidden; /* Evita que el contenido sobresalga */

}

.header-img-container {
    width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    border: 2px solid var(--color-border); /* Marco alrededor del div */
    padding: 40px 0 0 40px; /* Sin espaciado */
}

.header img {
    width: 120px; 
    height: 48px;  
    max-width: 100%;
    max-height: 100%;
}

main {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    min-height: 100vh; /* Para que el footer esté siempre al final */
    box-sizing: border-box;
    flex: 1; /* Ocupa el espacio restante */
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrado horizontal */
    text-align: center; /* Centrar texto */
    height: 60px; /* Altura del footer */
    background-color: var(--color-footer); /* Color de fondo */
    font-family: var(--fuente-Inter); /* Fuente */
    font-size: 1vw; /* Tamaño de fuente */
    color: var(--color-footer-text); /* Color del texto */
}


 
