/* Estilos generales */
* {
    padding: 0;
    margin:0;
}

:root{
    --color-fondo:white;
    --fuente-Inter: 'Inter', sans-serif;
    --color-button-hover: #0A3B71;
    --color-button-border: #0A3B71;    
    --color-button-out:white;
    --color-mensaje: gray;
    --color-footer: #0c4d92;
    --color-label1: #0c4d92;
    --color-p1:#343A40;
    --color-p2:#495057;
    --color-textarea2: gray;
    --color-buttonDisabled:gray;
}

body {
    font-family:var( --fuente-Inter);
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

.header {
    background-color: var( --color-fondo);
    padding: 2.5rem 0 0 2.5rem;  
    text-align: left;  
    position: relative;  
    height: 60px;  
}

.header img {
    width: 7.5rem; 
    height: 3rem;  
    position: absolute;  
    top: 50%; 
    transform: translateY(-50%);  
    left: 2.5rem;  
}

.main{
    display: flex;
    padding: 0 7rem; 
}

.section1, .section2 {
    margin-bottom: 20px;
    box-sizing: border-box;
}
.section1{
    display: flex;
    flex-direction: column;
     gap: 1.25rem;
}

.Label1{
    /*background-color: red;*/
    font-family: var(--fuente-Inter);
    font-size: 1.5rem;
    color: var( --color-label1)
    
}
.section1 textarea{
    border: 0;
    resize: none;
    width: 42rem; 
    height: 41.5rem;
    font-family: var(--fuente-Inter);
    font-size: 1.5rem;
    color: var( --color-label1);
}

.text-mensaje {
    display: flex;
    align-items: center;  
    font-size: 0.75rem;  
    color: var(--color-mensaje);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    background-color:var(--color-mensaje);
    color: white;
    border-radius: 50%;
    font-size: 0.75rem;  
    margin-right: 1rem; 
}

.button-container {
    display: flex;
    flex-direction: row;  
    gap: 20px;   
    justify-content: center;  
}

.detalle-button {
    background-color: var(--color-button-out);
    color:  var(--color-button-border); 
    border: 2px solid var( --color-button-border);  
    border-radius: 12px;  
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
    width:21rem;  
    box-sizing: border-box;  

}

.detalle-button:hover {
    background-color: var(--color-button-hover);  
    color: var(--color-button-out);  
}


.section2{
    display: flex;
    flex-direction: row;    
    align-items: flex-start; 
    gap: 1rem;
    box-shadow: -10px 10px 20px #E5E5E5, 10px 10px 20px #E5E5E5;
    border-radius: 12px; 
}

.sec2p1{
    text-align: center;  
    padding: .25rem;
    box-sizing: border-box;
    font-family: var(--fuente-Inter);
    font-size: 1.5rem;
    color:var(--color-p1);
    font-weight: bold;   
}

.sec2p2{
    text-align: center;  
    padding: .25rem;
    box-sizing: border-box;
    font-family: var(--fuente-Inter);
    font-size: 1rem;
    color: var(--color-p2);
}

.section2 textarea {
    border: 0;
    resize: none;
    width: 21rem;  
    height: 46rem;
    font-family: var(--fuente-Inter);
    font-size: 1.5rem;
    color: var( --color-textarea2);
}

.sec2div1{
    padding: 10% 0;
    display:true;
}

.sec2div2{
    display:none;
}

.sec2div21{
    width: 21rem;
    display:flex;
    flex-direction: column;    
    gap: 2rem;
}

#ImgMuneco {
    max-width: 100%; /* Asegura que la imagen no sobresalga */
    height: auto; /* Mantiene la relación de aspecto */
}
.sec2p1 {
    max-width: 100%; /* Asegura que la imagen no sobresalga */
    height: auto; /* Mantiene la relación de aspecto */
}
.sec2p2 {
    max-width: 100%; /* Asegura que la imagen no sobresalga */
    height: auto; /* Mantiene la relación de aspecto */
}
.footer{
    font-family: var(--fuente-Inter);
    font-size: 0.75rem;
    color: var(--color-footer);
}


/* Estilos para escritorio (mayor a 1200px) */
@media (min-width: 1200px) {
    .header {         
        padding: 20px;         
    }

    .main {
        display: flex;
    }

    .section1, .section2 {
        flex: 1 1 50%;
        padding: 20px;
    }

     

    

    .footer {
        padding: 10px;
        text-align: center;
    }
}

/* Estilos para tablet (entre 768px y 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
    .header {
        padding: 15px;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
    }

    .section1, .section2 {
        flex: 1 1 50%;
        padding: 15px;
    }    

    

    .button-container {
        flex-direction: row;  
        gap: 10px;
    }

    .footer {
        padding: 8px;
        text-align: center;
    }
}

/* Estilos para celular (menor o igual a 767px) */
@media (max-width: 767px) {
    .header {
        padding: 10px;
    }

    .main {
        display: block;
    }

    .section1, .section2 {
        width: 100%;
        padding: 10px;

    }

    .sec2div1{
        width: 100%; 
        display: flex;
        flex-wrap: wrap;
    }
   

    .button-container {
        flex-direction: column;  
        gap: 10px;
    }

    .footer {
        padding: 5px;
        text-align: center;
    }
}

