/* Estilos generales */
* {
    padding: 0;
    margin:0;
}

:root {
    --color-header-background: red;
    --color-border: white; /* Color del marco */

    --color-footer: red; /* Color de fondo del footer */
    --color-footer-text:  #0c4d92; /* Color del texto del footer */
    --fuente-Inter: 'Inter', sans-serif; /* Fuente */


    --color-section1: yellow;
    --color-section2: green;
}

body {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */

}

.header {
    display: flex;   
    background-color: var(--color-header-background);
    position: relative;
    height: 96px; /* Altura igual a la de la imagen */
    overflow: hidden; /* Evita que el contenido sobresalga */

} 

.header-img-container {
    width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    border: 2px solid var(--color-border); /* Marco alrededor del div */
    padding: 40px 0 0 40px; /* Sin espaciado */
}

.header img {
    width: 120px; 
    height: 48px;  
    max-width: 100%;
    max-height: 100%;
}

main {
    display: flex;
    flex-direction: row; /* Asegura que los elementos se apilen verticalmente */
    justify-content: center; /* Centrado horizontal */
    box-sizing: border-box;
}
.section1{
    background-color: var(--color-section1); /* Color de fondo */ 
    display: flex;
    padding:10px 0 0 150px;
    
}
  
.textarea {
    width: 75%;
    height: 100%;
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    resize: none; /* Opcional: previene el redimensionamiento por el usuario */
}

.button-container {
    flex-direction: column;
    margin-top: auto; /* Empuja el contenedor de los botones hacia el fondo */
}


.section2{
    background-color: var(--color-section2); /* Color de fondo */ 
}

.section1, .section2 {
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    flex-direction:  column ;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrado horizontal */   
    height: 60px; /* Altura del footer */
    background-color: var(--color-footer); /* Color de fondo */
    font-family: var(--fuente-Inter); /* Fuente */
    font-size: 1vw; /* Tamaño de fuente */
    color: var(--color-footer-text); /* Color del texto */
    margin-top: 0; /* Elimina el margen superior */

}

 
/* Estilos para tabletas (entre 768px y 1199px) */
@media (max-width: 1199px) {
    main {
        flex-direction: column; /* Cambia la dirección del flex a columna */
    }

    .section1 {
        padding: 10px;
    }
}

/* Estilos para móviles (menor a 768px) */
@media (max-width: 767px) {
    main {
        flex-direction: column; /* Cambia la dirección del flex a columna */
    }

    .section1 {
        padding: 10px;
    }
}