:root {
    --color-header-background: white;
    --color-border: white; /* Color del marco */
}

.header {
    background-color: var(--color-header-background);
    position: relative;
    height: 48px; /* Altura igual a la de la imagen */
}

.header-img-container {
    border: 2px solid var(--color-border); /* Marco alrededor del div */
    padding: 40px 0 0 40px; /* Sin espaciado */
}
.header img {
    width: 120px; 
    height: 48px;  
    max-width: 100%;
    max-height: 100%;
}
